/.idea
/docker/db/
/docker/mongodb/
/.env
/project/.phpcs-cache
/project/phpcs.xml
/project/public/bundles/
/project/var/
/project/vendor/
/project/.phpunit
/project/.phpunit.result.cache
/project/phpunit.xml
/project/.web-server-pid
/project/private/documents/company/*
!/project/private/documents/company/.gitignore
/project/public/media/cache/

/front/build/
/front/node_modules/
